.element__like{
    width: 22px;
    height: 19px;
    background-image: url(../../../images/elements/like.svg);
    background-repeat: no-repeat;
    margin: auto 30px auto auto;
    border: none;
    background-color: transparent;
}

.element__like:hover {
    opacity: 0.6;
  }
