.popup__container {
    width: 430px;
    background: #FFFFFF;
    position: relative;
    border-radius: 10px;
    box-shadow:1px 1px rgba(0, 0, 0, 0.5);
  }
  
@media screen and (max-width: 500px) {
    .popup__container{
       width: 282px;
    }
}
