.profile__info-button{
    width: 23px;
    height: 23px;
    background-image: url(../../../images/btn_edit.svg);
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    border: 1px solid #fff;
    padding: 0;
    margin-top: 16px;
}

.profile__info-button:hover {
    opacity: 0.6;
  }

@media screen and (max-width: 750px) {
    .profile__info-button{
        width: 18px;
        height: 18px;
    }
}
